<div class='container'>

	<div class="row" ng-show="1==0">
	  <div class="col-sm-4"></div>
	  <h2 class="col-sm-4">Objectives</h2>
	  <div class="col-sm-4"></div>
	</div class="row">


	<form novalidate class="form-horizontal" >

		<input type="hidden" name="format" value="csv">
		<input type="hidden" name="orderBy" ng-bind="current_sort_by">
		<input type="hidden" name="ascDesc" ng-bind="current_asc_desc">

		<div class="form-group">

			<div class="col-sm-2">
				<label class="waldo-sm" style="text-align: right;" for="project_filter">Project:</label>
				<span>
					<input type="text" size="20" maxlength="20" class="form-control input-sm" id="project_filter" name="project_filter" ng-model="project_filter" placeholder="">
				</span>
			</div>

			<div class="col-sm-2">
				<label class="waldo-sm" style="text-align: right;" for="task_filter">Task:</label>
				<span>
					<input type="text" size="20" maxlength="20" class="form-control input-sm" id="task_filter" name="task_filter" ng-model="task_filter" placeholder="">
				</span>
			</div>



			<div class="col-sm-2">
				<label class="waldo-sm" style="text-align: right;" for="start_date_from_filter">Start&nbsp;Date&nbsp;From:</label>
				<p class="input-group" ng-show="foolishly_attempt_to_use_angular_date_picker">
					<input type="text" class="form-control input-sm" datepicker-popup="{{date_format}}" ng-model="start_date_from_filter_dt" is-open="date_filter_from_opened" datepicker-options="dateOptions" date-disabled="is_date_disabled(date, mode)" ng-required="false" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="open_close_date_picker($event,'from')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<p class="input-group">
					<input type="text" class="form-control input-sm datepicker" name="start_date_from_filter" id="start_date_from_filter" ng-model="start_date_from_filter"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" id="start_date_from_filter_button"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

			<div class="col-sm-2">
				<label class="waldo-sm"  style="text-align: right;" for="start_date_to_filter">Start&nbsp;Date&nbsp;To:</label>
				<p class="input-group" ng-show="foolishly_attempt_to_use_angular_date_picker">
					<input type="text" class="form-control input-sm" datepicker-popup="{{date_format}}" ng-model="start_date_to_filter_dt" is-open="date_filter_to_opened" datepicker-options="dateOptions" date-disabled="is_date_disabled(date, mode)" ng-required="false" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="open_close_date_picker($event,'to')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<p class="input-group">
					<input type="text" class="form-control input-sm datepicker" name="start_date_to_filter" id="start_date_to_filter" ng-model="start_date_to_filter"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" id="start_date_to_filter_button"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>


			<div class="col-sm-2">
				<label class="waldo-sm" style="text-align: right;" for="finish_date_from_filter">Finish&nbsp;Date&nbsp;From:</label>
				<p class="input-group" ng-show="foolishly_attempt_to_use_angular_date_picker">
					<input type="text" class="form-control input-sm" datepicker-popup="{{date_format}}" ng-model="finish_date_from_filter_dt" is-open="date_filter_from_opened" datepicker-options="dateOptions" date-disabled="is_date_disabled(date, mode)" ng-required="false" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="open_close_date_picker($event,'from')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<p class="input-group">
					<input type="text" class="form-control input-sm datepicker" name="finish_date_from_filter" id="finish_date_from_filter" ng-model="finish_date_from_filter"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" id="finish_date_from_filter_button"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

			<div class="col-sm-2">
				<label class="waldo-sm"  style="text-align: right;" for="finish_date_to_filter">Finish&nbsp;Date&nbsp;To:</label>
				<p class="input-group" ng-show="foolishly_attempt_to_use_angular_date_picker">
					<input type="text" class="form-control input-sm" datepicker-popup="{{date_format}}" ng-model="finish_date_to_filter_dt" is-open="date_filter_to_opened" datepicker-options="dateOptions" date-disabled="is_date_disabled(date, mode)" ng-required="false" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="open_close_date_picker($event,'to')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<p class="input-group">
					<input type="text" class="form-control input-sm datepicker" name="finish_date_to_filter" id="finish_date_to_filter" ng-model="finish_date_to_filter"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" id="finish_date_to_filter_button"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

<!--
			<div class="col-sm-2">
				<label class="waldo-sm" style="text-align: right;" for="filer_name_filter">Company Name:</label>
				<span>
					<input type="text" size="20" maxlength="20" class="form-control input-sm" id="filer_name_filter" name="filer_name_filter" ng-model="filer_name_filter" placeholder="">
				</span>
			</div>

			<div class="col-sm-2">
				<label class="waldo-sm" style="text-align: right;" for="filer_cik_filter">Company&nbsp;CIK:</label>
				<span>
					<input type="text" size="20" maxlength="20" class="form-control input-sm" id="filer_cik_filter" name="filer_cik_filter" ng-model="filer_cik_filter" placeholder="">
				</span>
			</div>
-->

		</div><!-- class="form-group" -->

		<!-- <button class="btn" ng-click="openEditObjective()">Open Edit Objective</button> -->

  <div ng-show="showEditObjective" ng-class="panel panel-default">
	<div class="panel-heading">
		<h3 ng-show="theObjective._id != null" class="panel-title">Edit Objective</h3>
		<h3 ng-show="theObjective._id == null" class="panel-title">New Objective</h3>
	</div>
	<div class="panel-body" style="border: 1px solid purple; padding: 0px;">
			<table class="table table-striped table-hover table-bordered" style="border: 1px solid green; padding: 0px; margin: 0px;">
				<thead>
					<tr ng-cloak>
						<th class="objective-edit" style="text-align: center;" ng-repeat = "column in columns" width="{{column.width}}">
						{{column.heading}}
						</th>
						<!--
						<th style="text-align: center;">
						Project
						</th>
						<th style="text-align: center;">
						Task
						</th>
						<th style="text-align: center;">
						Assigned To
						</th>
						<th style="text-align: center;">
						Duration
						</th>
						<th style="text-align: center;">
						Percent Complete
						</th>
						<th style="text-align: center;">
						Start
						</th>
						<th style="text-align: center;">
						Finish
						</th>
						<th style="text-align: center;">
						Status
						</th>
						<th style="text-align: center;">
						Comments
						</th>
						-->
					</tr>
				</thead>
				<tbody>
					<tr ng-cloak>
						<!--<td class="objective-edit">{{theObjective.project}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.project" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!--<td class="objective-edit">{{theObjective.task_name}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.task_name" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!--<td class="objective-edit">{{theObjective.assigned_to}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.assigned_to" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!--<td class="objective-edit">{{theObjective.duration}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.duration" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!--<td class="objective-edit">{{theObjective.percent_complete}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.percent_complete" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!-- <td class="objective-edit">{{theObjective.start| date:'yyyy-MM-dd'}}</td> -->
						<td class="objective-edit"><input type="text" ng-model="theObjective.start" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!--<td class="objective-edit">{{theObjective.finish| date:'yyyy-MM-dd'}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.finish" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!-- <td class="objective-edit">{{theObjective.status}}</td>-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.status" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
						<!--<td class="objective-edit" ng-model="theObjective.comments" contenteditable="true"><div ng-model="theObjective.comments" contenteditable="true"></div></td>-->
						<!--<td class="objective-edit" ng-model="theObjective.comments" contenteditable="true"><div contentEditable="true" ng-model="theObjective.comments" title="Click to edit">Some</div>
        <pre>model = {{theObjective.comments}}</pre>
	</td>-->
<!--
 John: Try this for "editable td angular 1.X" 
   https://vitalets.github.io/angular-xeditable/
-->
						<td class="objective-edit"><input type="text" ng-model="theObjective.comments" class="form-control input-sm" style="height: 100%; width: 100%;"></input></td>
					</tr>
				</tbody>
			</table>
	</div>
    <div class="panel-footer">
      <button class="btn btn-success" ng-click="okEditObjective()">Okay</button>
      <button class="btn btn-default" ng-click="cancelEditObjective()">Cancel</button>
      <button class="btn btn-info"
				style="float: right;"
				ng-show="theObjective._id != null"
				ng-click="deleteObjective()"
				title="Delete Objective"
		><span class="glyphicon glyphicon-minus"></span></button>

    </div>

    <!--
	<div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Example paragraph with some text.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="okModal()">Okay</button>
      <button class="btn" ng-click="cancelModal()">Cancel</button>
    </div>
	-->
  </div>



<div class="row">
<table class="col-sm-12" ng-cloak ng-show="debug_html">
  <tr>
    <td>
    	<pre>
total_entries = "{{total_entries}}"

entries_per_page = "{{entries_per_page}}"
requested_entries_per_page = "{{requested_entries_per_page}}"

current_page_num = "{{current_page_num}}"
requested_page_num = "{{requested_page_num}}"
pending_page_num = "{{pending_page_num}}"

total_num_pages = "{{total_num_pages}}"

date_format = "{{date_format}}"
		</pre>
	</td>
    <td>
		<p>
pagination_pages_array = "{{ pagination_pages_array | json }}"
		</p>
	</td>
    <td>
    	<pre>
accession_number_filter = "{{accession_number_filter}}"

form_type_filter = "{{form_type_filter}}"
form_type_filter_count = "{{form_type_filter_count}}"

start_date_from_filter = "{{start_date_from_filter}}" 
start_date_to_filter = "{{start_date_to_filter }}" 

start_date_from_filter_dt = "{{start_date_from_filter_dt}}" 
start_date_to_filter_dt = "{{start_date_to_filter_dt }}" 

<!--
typeof start_date_from_filter_dt = "{{typeof start_date_from_filter_dt}}" 
typeof start_date_to_filter_dt = "{{typeof start_date_to_filter_dt}}" 

start_date_from_filter_dt.getTime() = "{{start_date_from_filter_dt instanceof Date ? start_date_from_filter_dt.getTime() | number : 'N/A'}}" 
start_date_to_filter_dt.getTime() = "{{start_date_to_filter_dt instanceof Date ? start_date_to_filter_dt.getTime() | number : 'N/A'}}" 
-->

start_date_from_filter_dt.getTime() = "{{start_date_from_filter_dt.getTime() | number}}" 
start_date_to_filter_dt.getTime() = "{{start_date_to_filter_dt.getTime() | number}}" 
start_date_to_filter_dt.getTime() - start_date_from_filter_dt.getTime() = "{{ (start_date_to_filter_dt.getTime() - start_date_from_filter_dt.getTime()) | number }}"


filter_text = "{{filter_text}}"
current_sort_by = "{{current_sort_by}}"
current_asc_desc = "{{current_asc_desc}}"

csv_url = "{{csv_url}}"
csv_btn_img_src = "{{csv_btn_img_src}}"
		</pre>
	</td>
  </tr>
<!-- xxx = "{{xxx}}" -->
</table>
</div><!-- row -->

	<!--
	<div ng-cloak class="row" ng-show="objectives && total_entries == 0">
		<div class="col-md-12">
			<h2>No Objectives Found</h2>
		</div>
	</div>
	-->
	<!--
	<div ng-cloak class="row" ng-show="!objectives">
		<div class="col-sm-12">
			<h2>Search Objectives</h2>
		</div>
	</div>
	-->

	<div ng-cloak class="row" ng-show="objectives && total_entries >= 0">
		<div class="col-sm-2"></div>

		<h2 class="col-sm-6" ng-show="!objectives">Search Objectives</h2>
		<h2 class="col-sm-6" ng-show="objectives && total_entries >= 0">{{total_entries==0 ? 'No' : ( total_entries | number ) }} Objective<span>{{total_entries == 1 ? '': 's'}} Found</span></h2> 


		<div class="col-sm-1" style="vertical-align: bottom;">
                <button
					style="vertical-align: top; position: relative; top: 23px;"
                    title="Add New Objective" class="btn btn-default btn-sm"
                    ng-click="newObjective()"><span class="glyphicon glyphicon-plus"></span>
				</button>
        </div>

		<div class="col-sm-1" style="vertical-align: bottom;">
				<!--
				<table>
				<tr>
				<td>
				-->
				<button type="submit" style="vertical-align: bottom; position: relative; top: 23px;"
					title="Search" class="btn btn-default btn-sm" ng-click="search($event)">Search&nbsp;<span class="glyphicon glyphicon-search"></span>
				</button>
				<!--
				</td>
				<td style="width: 5px;">
				</td>
				<td>
				<a ng-href="{{csv_url}}" ng-mouseenter="on_mouse_enter_csv_btn()" ng-mouseleave="on_mouse_leave_csv_btn()"
					ng-click="refresh_csv_url()" title="Download CSV Report" target="_self">
					<img style="vertical-align: bottom; position: relative; top: 23px;" ng-src="{{csv_btn_img_src}}" />
				</a>
				</td>
				</tr>
				</table>
				-->
		</div>

		<div class="col-sm-1" style="vertical-align: middle;">
				<table ng-cloak ng-show="progress_bar_active"
					style="position: relative; top: 27px; width: 75px; height: 20px; color: transparent; background-color: transparent;">
					<tr style="">
						<td class="vf-left-progress" vf-progress-bar progress-bar-watch="progress" progress-bar-left-right="left"></td>
						<td class="vf-right-progress" vf-progress-bar progress-bar-watch="progress" progress-bar-left-right="right"></td>
					</tr>
				</table>
				<!--
				<div ng-cloak ng-show="1==0">
					<a ng-click="start_progress_bar()">start</a>
					<a ng-click="start_progress_bar(true)">start&nbsp;manual</a>
					<a ng-click="advance_progress_bar()">advance</a> 
					<a ng-click="stop_progress_bar()">stop</a>
				</div>
				-->
		</div>

		<div class="col-sm-1" style="vertical-align: bottom;">
				<a ng-href="{{csv_url}}" ng-mouseenter="on_mouse_enter_csv_btn()" ng-mouseleave="on_mouse_leave_csv_btn()" ng-show="1==1"
					ng-click="refresh_csv_url()" title="Download CSV Report" target="_self">
					<img style="vertical-align: bottom; position: relative; top: 23px;" ng-src="{{csv_btn_img_src}}" />
				</a>
		</div>
	</div>

	</form>

	<div class="row">
		<div class="col-sm-2"></div>
			<p class="col-sm-8" style="font-style: normal; font-weight: bold;" ng-cloak ng-show="filter_text_array.length > 0">
			...with&nbsp;<span ng-repeat="filter_text_el in filter_text_array">{{$index > 0 ? ", " : ""}}<span style="white-space: nowrap;">{{filter_text_el}}</span></span>
			</p>
		<div class="col-sm-2"></div>
	</div>

	<form novalidate class="form-horizontal">

		<div class="form-group">

			<div class="col-sm-2">
				<p style="text-align: center; white-space: nowrap; vertical-align: middle; color: rgb(51,122,183); font-weight: bold; position: relative; top: 15px;"
					ng-cloak ng-show="total_num_pages != 0 && current_page_num != 0">
				Page {{current_page_num | number}} of {{total_num_pages | number}}<br/>
				({{entries_per_page | number}} Objectives per Page)
				</p>
			</div>

			<div class="col-sm-7">
				<ul class="pagination" ng-cloak ng-show="total_num_pages != 0">
			        <li ng-class="get_pagination_class_for('first')"><a ng-click="get_pagination_class_for('first') != 'disabled' ? go_to_page('first') : x = 0 " aria-label="First" title="First"><span aria-hidden="true">&lt;&lt;</span></a></li>
			        <li ng-class="get_pagination_class_for('previous')"><a ng-click="get_pagination_class_for('previous') != 'disabled' ? go_to_page('previous') : x = 0 " aria-label="Previous" title="Previous"><span aria-hidden="true">&lt;</span></a></li>
					<li ng-repeat="pagination_page in pagination_pages_array" ng-class="get_pagination_class_for(pagination_page)" ><a ng-click="go_to_page(pagination_page)">{{pagination_page}}</a></li>
					<li ng-class="get_pagination_class_for('next')"><a ng-click="get_pagination_class_for('next') != 'disabled' ? go_to_page('next') : x = 0" aria-label="Next" title="Next"><span aria-hidden="true">&gt;</span></a></li>
					<li ng-class="get_pagination_class_for('last')"><a ng-click="get_pagination_class_for('last') != 'disabled' ? go_to_page('last') : x = 0" aria-label="Last" title="Last"><span aria-hidden="true">&gt;&gt</span></a></li>
				</ul>
			</div>

			<div class="col-sm-1" ng-show="total_num_pages != 0">
				<label class="waldo-sm" style="white-space: nowrap;" for="go_to_page">Go To Page:</label>
				<input type="text" id="go_to_page" class="page_number_spinner form-control input-sm" style="width: 4em;" size="5" ng-model="requested_page_num" ng-keypress="requested_page_num_press(requested_page_num, $event)">
			</div>

			<div class="col-sm-1" ng-show="total_num_pages != 0">
				<label class="waldo-sm" style="white-space: nowrap;" for="thingees_per_page">Objectives Per Page:</label>
				<input type="text" id="thingees_per_page" class="entries_per_page_spinner form-control input-sm" style="width: 6em;" size="5" ng-model="requested_entries_per_page" ng-keypress="requested_entries_per_page_press(requested_entries_per_page, $event)">
			</div>

		</div><!-- class="form-group" -->

	</form>



	<!--<div class="row">-->

		<!--<div class="table-responsive col-sm-12" style="x-overflow: auto" ng-show="objectives.length > 0">-->

		<!-- <div style="y-overflow: auto; x-overflow: auto;" ng-show="objectives.length > 0"> -->

			<table id="stickyHeader" class="table table-striped table-hover table-bordered" ng-show="objectives.length > 0">
				<thead>
					<tr ng-cloak>
						<th style="text-align: center;" ng-repeat = "column in columns" width="{{column.width}}">
							<div>
							<a ng-click = "sortBy(column.name)"
								ng-mouseenter="on_mouse_enter(column.name)" ng-mouseleave="on_mouse_leave(column.name)"
								title="{{'Sort by ' + column.heading + ' ' + (current_asc_desc=='desc' ? 'Ascending' : 'Descending' )}}"
								aria-label="{{'Sort by ' + column.heading + ' ' + (current_asc_desc=='desc' ? 'Ascending' : 'Descending' )}}"
								style="padding: 0px;"
							>
							{{column.heading}}<img ng-src="{{get_arrow_img_src(column.name)}}" style="width: 30px; height: 25px; margin-left: 5px;">
							</a>
							</div>
						</th>
						<!--<th></th>-->
					</tr>
				</thead>
				<tbody>
					<tr ng-cloak ng-repeat="objective in objectives" ng-click="editObjective(objective)">
						<!-- <td ng-repeat = "column in columns">{{objective[column.name]}}</td> -->
						<!--<td><a ng-href="/scrumi/#/forms/{{objective.accession_number}}" title="View Objective Details">{{objective.accession_number}}</a><a ng-href="{{edgarFileNameToEdgarSecFilingPageUrl(objective.file_name)}}" title="View Filing at SEC" target="_blank"><img src="/scrumi/images/www.sec.gov-favicon.gif" style="padding-left: 10px;"></a></td>-->
						<td>{{objective.project}}</td>
						<td>{{objective.task_name}}</td>
						<td>{{objective.assigned_to}}</td>
						<td>{{objective.duration}}</td>
						<td>{{objective.percent_complete}}</td>
						<td>{{objective.start| date:'yyyy-MM-dd'}}</td>
						<td>{{objective.finish| date:'yyyy-MM-dd'}}</td>
						<td>{{objective.status}}</td>
						<td>{{objective.comments}}</td>
					</tr>
				</tbody>
			</table>

		<!-- </div> -->

	<!--</div>--> <!-- class="row" -->



  	<pre ng-cloak ng-show="debug_html">
	objectives = "{{objectives | json }}"
	<!-- <p ng-non-bindable>objectives = {{objectives}} </p> -->
	</pre> 

  </div><!-- class='container' -->


  <script src="/nav.js"></script>

  <script>
	$( ".datepicker" ).datepicker();
	$( ".datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" ); // ISO 8601 date format, e.g., "2014-04-28"

	$( "#start_date_from_filter_button" ).click( function($this){

		//console.log( "click: $this = ", $this, "...");

		if( $("#start_date_from_filter").datepicker( "widget" ).is(":visible") ){
			$("#start_date_from_filter").datepicker("hide");
		}
		else {
			$("#start_date_from_filter").datepicker("show");
		}

	});

	$( "#finish_date_from_filter_button" ).click( function($this){

		//console.log( "click: $this = ", $this, "...");

		if( $("#finish_date_from_filter").datepicker( "widget" ).is(":visible") ){
			$("#finish_date_from_filter").datepicker("hide");
		}
		else {
			$("#finish_date_from_filter").datepicker("show");
		}

	});

	/*
	$( "#start_date_from_filter" ).blur( function($this){

		//console.log( "blur: $this = ", $this, "...");

		$("#start_date_from_filter").datepicker("hide");

	});
	*/

	$( "#start_date_to_filter_button" ).click( function($this){

		//console.log( "click: $this = ", $this, "...");

		if( $("#start_date_to_filter").datepicker( "widget" ).is(":visible") ){
			$("#start_date_to_filter").datepicker("hide");
		}
		else {
			$("#start_date_to_filter").datepicker("show");
		}

	});

	$( "#finish_date_to_filter_button" ).click( function($this){

		//console.log( "click: $this = ", $this, "...");

		if( $("#finish_date_to_filter").datepicker( "widget" ).is(":visible") ){
			$("#finish_date_to_filter").datepicker("hide");
		}
		else {
			$("#finish_date_to_filter").datepicker("show");
		}

	});

	/*
	$( "#start_date_to_filter" ).blur( function($this){

		//console.log( "blur: $this = ", $this, "...");

		$("#start_date_to_filter").datepicker("hide");

	});
	*/

	// datepicker seems to clear the "input" values...so re-set them here...
	//$('#start_date').val("<?php echo $startDate; ?>");
	//$('#end_date').val("<?php echo $endDate; ?>");

	//var our_entries_per_page_spinner = $( ".entries_per_page_spinner" ).spinner({min: 5, max: 1000, step: 5});
	//var NUM_PAGES = 100;

	//var our_page_number_spinner = $( ".page_number_spinner" ).spinner({min: 1, max: NUM_PAGES});
	//our_page_number_spinner.on( "spin", Utils.rollOverSpinner );

  </script>
