<div class='container'>

<h3 ng-show="1==1">Objective Details</h3>

<h3 ng-cloak>Objective {{id}}</h3>

<div class="panel panel-default">
	<div class="panel-body">

		<form class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-2 control-label">ID:</label>
				<div ng-cloak class="col-sm-2">
					<p class="form-control-static">{{objective._id}}</p>
			    </div>

			    <label class="col-sm-2 control-label">Project:</label>
			    <div ng-cloak class="col-sm-2">
					<p class="form-control-static" style="">{{objective.project}}</p>
			    </div>

			    <label class="col-sm-2 control-label">Task Name:</label>
			    <div ng-cloak class="col-sm-2">
					<p class="form-control-static">{{objective.task_name}}</p>
			    </div>
			</div><!-- "form-group" -->

		</form> <!-- class="form-horizontal" -->

	</div> <!-- class="panel-body" -->
</div> <!-- class="panel panel-default" -->

<!-- history -->
<div class="row" ng-show="objective.history.length > 0">
	<div class="col-sm-4"></div>
	<div class="col-sm-4" style="align: center;">
		<h2 style="white-space: nowrap;">History<span ng-show="objective.history.length > 0"> ({{objective.history.length | number}})</h2>
	</div>
	<div class="col-sm-4" style=""></div>
</div>


<div class="panel panel-default" ng-show="objective.history.length > 0"><!-- history -->

	<div class="panel-body">

			<table id="stickyHeader" class="table table-striped table-hover table-bordered" ng-show="objective.history.length > 0">
				<thead>
					<tr ng-cloak>
						<th style="text-align: center;">
						By
						</th>
						<th style="text-align: center;">
						State Change
						</th>
						<th style="text-align: center;">
						Assignee Change
						</th>
						<th style="text-align: center;">
						Comments
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-cloak ng-repeat="event in objective.history">
						<td>{{event.by}}</td>
						<td>{{event.state_change}}</td>
						<td>{{event.assignee_change}}</td>
						<td>{{event.comments}}</td>
					</tr>
				</tbody>
			</table>

	</div> <!-- class="panel-body" -->
</div> <!-- class="panel panel-default" --><!-- filers -->	

	
<div>
	<pre ng-show="debug_html">objective = {{objective | json }}</pre> 
</div>

</div>

<!--<script src="/nav.js">--><!--</script>-->
